/* RESET */
*,
::before,
::after,
button {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background: none;
  border: none;
}

body {
  font-family: "Manrope", sans-serif;
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 20px;
  width: 100vw;
  min-height: 100vh;
  padding: 10px 50px;
  overflow: hidden;
  user-select: none;
  color: black;
  background-image: url('../../assets/img/bg7.jpg');
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-attachment: fixed;
  transition: background-image .1s;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 70px;
  padding: 0 50px;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  box-shadow: 0 0 15px 7px rgba(0, 0, 0, 0.4);
  border-radius: 999px;
}
header a{
  text-decoration: none;
  color: inherit;
}
header h1{
  text-transform: uppercase;
  line-height: 0;
}
header span{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
header span a{
  text-transform: uppercase;
  font-weight: 900;
  font-size: 1.5em;
}
header #connect{
  font-size: 2em;
  justify-self: right;
  cursor: pointer;
  color: inherit;
  line-height: 0;
  position: relative;
  top: 2px;
}

main {
  width: 100%;
  height: calc(100vh - 100px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.date-box {
  width: clamp(500px, 80%, 1200px);
  height: auto;
  padding: 35px 30px;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.4);
  border-radius: 18px;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
.date-box p {
  font-weight: 500;
  font-size: 130%;
}
.date-box #date {
  font-weight: 500;
}
.date-box #date .input-countdown {
  font-size: 300%;
  font-weight: 600;
}
.date-box #why {
  font-size: 250%;
  font-weight: 600;
}
.modal-overlay{
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  backdrop-filter: blur(0px);
  -webkit-backdrop-filter: blur(0px);
  width: 100%;
  height: 100%;
  z-index: -1;
  transition: .5s;
}
.modal {
  opacity: 0;
  transition: .5s;
  z-index: 100;
  transform: scale(.5);
  width: clamp(50%, 60%, 90%);
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
  color: black;
  background: rgb(255, 255, 255);
  border-radius: 18px;
  box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.4);
  padding: 30px 50px;
  position: absolute;
}
.close-modal{
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}
.close-modal i{
  color: black;
  font-size: 2em;
  transition: .2s;
}
.close-modal:hover i{
  color: rgb(228, 40, 40);
}
.modal-title {
  width: 100%;
  text-align: center;
  position: relative;
}
.modal-title h3 {
  font-size: 2.5em;
}
.modal form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 100%;
  gap: 20px;
}
.input-container {
  width: 90%;
  position: relative;
}
.input-container input {
  padding: 15px;
  border: 2px solid black;
  border-radius: 9px;
  outline: none;
  width: 100%;
  height: 100%;
  font-size: 18px;
}
.input-container label {
  position: absolute;
  top: 13px;
  left: 8px;
  font-size: 18px;
  padding: 0 5px;
  color: black;
  transition: 0.3s;
  pointer-events: none;
}
.input-container input:focus + label,
.input-container input:not(:placeholder-shown) + label {
  top: -14px;
  background: white;
}
.modal form button {
  background: white;
  color: black;
  border: 2px solid black;
  border-radius: 7px;
  padding: 10px 30px;
  font-size: 18px;
  cursor: pointer;
  transition: 0.3s;
}
.modal form button:hover,
.modal form button:focus {
  background: black;
  color: white;
}
.others-actions{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.others-actions button{
  cursor: pointer;
  color: black;
  outline: none;
  position: relative;
  display: inline-block;
  width: fit-content;
}
.others-actions button::before{
  content: '';
  position: absolute;
  bottom: -1px;
  width: 100%;
  border: 1px solid;
  background: black;
  scale: 0 1;
  transform-origin: right;
  transition: scale .25s;
}
.others-actions button:hover::before{
  scale: 1;
  transform-origin: left;
}

#user-section{
  display: flex;
  flex-direction: column;
  width: 95%;
  margin-top: 50px;
}
.top-bar{
  display: flex;
  align-items: center;
  width: fit-content;
  gap: 20px;
  height: 70px;
  padding: 0 20px;
  border-radius: 999px;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  box-shadow: 0 0 15px 7px rgba(0, 0, 0, 0.4);
}
.top-bar button{
  cursor: pointer;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
}
.top-bar button::after{
  content: "";
  width: 7px;
  height: 7px;
  border-radius: 999px;
  border: 4px solid;
  position: absolute;
  bottom: 10%;
  scale: 0;
  transition: scale .3s ease;
}
.top-bar button:hover::after, .top-bar button:focus::after{
  scale: 1;
}
.top-bar button.active::after{
  scale: 1;
}
.top-bar button i{
  font-size: 3em;
  line-height: 0;
}
.main-section{
  margin-top: 30px;
}
/* .main-section table, .main-section th, .main-section td{
  border: 2px solid;
} */

.main-section table{
  border-spacing: 20px; 
}
.main-section tr{
  /* background: rgba(255,255,255,.5); */
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  box-shadow: 0 0 7px 3px rgba(0, 0, 0, 0.4);
  border-radius: 999px;
  text-align: center;
}
.main-section th{
  font-size: 1.3em;
}
.main-section th, .main-section td{
  padding: 10px 30px;
}


@media screen and (max-width: 1000px){
  body{
    overflow-y: auto;
  }
  header:not(#user){
    padding: 30px 30px;
    height: fit-content;
    gap: 20px;
    flex-direction: column;
  }
  header span{
    flex-direction: column;
  }
  main{
    height: 100%;
  }
  .date-box{
    width: fit-content;
    padding: 15px 10px;
    text-align: center;
  }
  .date-box #date{
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 1;
  }
  .modal{
    width: 90%;
    padding: 15px 30px;
  }
}